.projects {
  background-color: var(--color-background-dark);
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (min-width: 1080px) {
  .projects {
    gap: 32px;
  }
}

@media (min-width: 768px) {
  .projects {
    padding: 64px 64px;
  }
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.viewLessButton,
.viewMoreButton {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 10px 16px;
  transition: var(--transition);
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  display: block;
  width: auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.viewMoreButton:hover {
  background-color: var(--color-primary);
  color: var(--color-background-light);
}

.viewMoreButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.typeButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
  overflow-x: auto;
}


.separator {
  height: 1px;
  background-color: var(--color-border);
  margin: 16px 0;
}

.typeButtons button {
  min-width: 100px;
  flex: 1;
  text-align: center;
  padding: 12px 20px;
  background-color: var(--color-primary-light);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.typeButtons button:hover {
  background-color: var(--color-primary);
}

.typeButtons button.activeButton {
  background-color: var(--color-primary-dark);
  color: var(--color-primary); /* Updated for better visibility */

}

@media (min-width: 768px) {
  .typeButtons button {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .projectList > * {
    display: block;
  }
}


.separator {
  height: 22px; /* Vertical line height */
  width: 1px;
  background-color: white; 
  
}
