.projects {
  background-color: var(--color-background-dark);
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (min-width: 1080px) {
  .projects {
    gap: 32px;
  }
}

@media (min-width: 768px) {
  .projects {
    padding: 64px 64px;
  }
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.viewLessButton,
.viewMoreButton {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px 16px;
  transition: var(--transition);
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
  display: block; /* Changed to block-level element for centering */
  width: auto; /* Allow the width to auto-adjust to button content */
  max-width: 400px; /* Limit the max-width of the button */
  margin-left: auto;
  margin-right: auto; /* Center the button horizontally */
}

.viewMoreButton:hover {
  background-color: var(--color-primary);
  color: var(--color-background-light);
}

.viewMoreButton:disabled {
  background-color: #ccc; /* Disable button when no more content to load */
  cursor: not-allowed;
}

.typeButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 32px;
}

.typeButtons button {
  padding: 12px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.typeButtons button:hover {
  background-color: var(--color-primary-light);
}

.typeButtons button.activeButton {
  background-color: var(--color-primary-dark);
}
