.project {
  background-color: var(--color-background-dark);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.display {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-background-light);

  padding: 32px;
  height: 320px;

  margin-left: -32px;
  margin-right: -32px;
  border-radius: 0px;
}
.stretch {
  display: flex;
  justify-content: center;
  max-width: 525px;
}

.tiltingImage {
  display: block;
  width: auto;
  height: 300px;
}

.staticImage {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  max-width: 230px; /* Updated for consistency */
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
  transition: color 0.2s ease;
}

.name:hover {
  color: var(--color-primary-light); /* Hover effect */
}

.description {
  font-size: 0.875rem;
  color: var(--color-text-light);
}

.links {
  display: flex;
  gap: 32px;
  margin-top: 16px;
  color: var(--color-text-regular);
}

.links > * {
  transition: var(--transition);
}

.website:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .name {
    font-size: 1.125rem;
  }

  .description {
    font-size: 1rem;
  }

  .links {
    gap: 48px;
  }
}

@media (min-width: 1024px) {
  .project.left {
    flex-direction: row-reverse;
  }

  .project.right {
    flex-direction: row;
  }

  .info {
    width: 500px;
    margin-top: auto;
  }

  .info.right {
    align-items: flex-end;
    margin-left: -32px;
    margin-right: 0px;
  }

  .info.left {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: -32px;
  }
}

@media (prefers-reduced-motion) {
  .staticImage {
    display: block;
  }

  .tiltingImage {
    display: none;
  }
}