.projectGrid {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  z-index: 3;
  margin-top: 2rem; /* Ensure spacing from the top */
}

.title {
  color: var(--color-primary);
  font-weight: bold;
}

.description {
  color: var(--color-text-regular);
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1120px;
  gap: 16px;
  background-color: transparent;
  border-radius: 8px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-background-light);
  width: 100%;
  font-weight: 400;
  padding: 32px;
  height: 450px;
  border-radius: 8px;
}

.projectThumbnail {
  
  position: relative;
  z-index: 1;
  border-radius: 8px;
  display: inline;
  width: 100%;
  height: 200px;
  transition: all 0.3s ease-in;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.projectThumbnail:hover {
  cursor: pointer;
  transition: transform 0.1s ease-out;
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.subTitle {
  color: var(--color-primary);
}

.subText {
  color: var(--color-text-light);
  font-size: calc(18 / 16 * 1rem);
  margin-top: 8px;
}

.viewMoreButton {
  margin-top: 2rem;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.viewMoreButton:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .grid {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on medium screens */
    place-items: center;
  }

  .projectGrid {
    margin-top: 24px;
    padding: 16px;
  }
}

@media (min-width: 1024px) {
  .subText {
    display: none; /* Hide subtitle text for larger screens */
  }

  .grid {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row on larger screens */
  }

  .projectGrid {
    margin-top: 24px;
    padding: 16px;
  }
  
}
.readMoreButton {
  margin-top: 1rem;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 10px 16px;
  transition: var(--transition);
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.readMoreButton:hover {
  background-color: var(--color-primary);
  color: var(--color-background-light);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--color-background-dark);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  position: relative;
  overflow-y: scroll; /* Enable scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.modalTitle {
  font-size: 1.5rem;
  margin: 16px 0;
}

.modalDescription {
    color: var(--color-text-regular);
    font-weight:100;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; /* Font style for description */
}

.closeButton {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 10px 16px;
    transition: var(--transition);
    font-size: 1rem;
    text-align: center;
}
.closeButton:hover {
  background-color: var(--color-primary);
  color: var(--color-background-light);
}


