.footer {
    font-weight: 400;
    background-color: var(--color-background-dark);
    color: var(--color-primary);
    padding: 16px;
    text-align: center;
    font-size: calc(14 / 16 * 1rem);
  }
  
  .credit {
    cursor: pointer;
    padding: 10px;
  }
  
  .creditText {
    color: var(--color-text-regular);
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .creditText:hover {
    color: var(--color-primary);
  }

  .dev{
    color: var(--color-text-regular);
    font-weight: bold;
  }
  
  .link {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    color: var(--color-primary-light);
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000;
  }
  
  .popupContent {
    background-color: var(--color-background-dark); /* Match theme background color */
    color: var(--color-text-light); /* Better readability on dark background */
    padding: 20px;
    border-radius: 8px;
    width: 50%; /* Reduced size for a more balanced popup */
    max-width: 800px;
    height: auto; /* Adjust height dynamically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Arial', sans-serif; /* Better font for readability */
  }
  
  .popupImage {
    width: 99%;
    height: auto;
    object-fit: cover; /* Ensure image covers the space */
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .popupContent h3 {
    color: var(--color-text-regular);
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font style for title */
  }
  
  .popupContent p {
    color: var(--color-text-regular);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; /* Font style for description */
  }
  
  .closeButton {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 10px 16px;
    transition: var(--transition);
    font-size: 1rem;
    text-align: center;
  }
  
  .closeButton:hover {
    background-color: var(--color-primary);
    color: var(--color-background-light);
  }
  